<div class="portfolio" wide column center-center>
  <div wide row around-center>
    <img class="img" src="assets/imgs/0.jpeg" alt="">
    <div class="hello" col start-center>
      <p class="iam">Hello! I am</p>
      <a href="game.html">
        <img class="logo" src="assets/imgs/ryoko.png" alt="">
      </a>
      <p class="jobtitle">Marketing Specilist at Rakuten</p>
    </div>
  </div>

  <div wide class="info" row start-start>
    <div class="left" col start-end></div>

    <div class="content" wide col start-start>

      <!-- experience -->
      <div class="section exp" wide row start-start>
        <div class="title"row end-start>
          <h3 class="section_title">Experience</h3>
        </div>
        <div col center-center>
          <div class="experience">
            <p class="exp_title">Marketing Specilist Full-time</p>
            <p class="exp_company">Rakuten, Tokyo</p>
            <p class="exp_time">Apr 2020 – Present</p>
          </div>
          <div class="experience">
            <p class="exp_title">User Interview Support - Translation</p>
            <p class="exp_company">IDEO, Tokyo</p>
            <p class="exp_time">Apr 2020</p>
          </div>
          <div class="experience">
            <p class="exp_title">English Language Teacher</p>
            <p class="exp_company">個別教室のトライ, Tokyo</p>
            <p class="exp_time">Mar 2016 – Mar 2017</p>
          </div>
        </div>
      </div>
      <!-- experience -->

      <!-- education -->
      <div class="section exp" wide row start-start>
        <div class="title"row end-start>
          <h3 class="section_title">Education</h3>
        </div>
        <div col center-center>
          <div class="experience">
            <p class="exp_title">Sociology Bachelor</p>
            <p class="exp_company">International Christian University, Tokyo</p>
            <p class="exp_time">2016 – 2020</p>
          </div>
          <div class="experience">
            <p class="exp_title">Sociology</p>
            <p class="exp_company">University of California, Berkeley</p>
            <p class="exp_time">2018 – 2019</p>
          </div>
          <div class="experience">
            <p class="exp_title">High school</p>
            <p class="exp_company">Chuo University High school, Tokyo</p>
            <p class="exp_time">2012 – 2015</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="contacts" wide column center-center>
    <p class="sentence">If you have any questions about me, or just want to say hello, feel free to contact me :)</p>
    <div class="button">Let's talk!</div>
  </div>
</div>
